.background {
    background-image: url('./auto-3734396_1280.jpg');
    height: 400px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1000px;
    margin: auto;
}

.zmiana {
    height: 200px;
    background-color: red;
}

@media screen and (max-width:900px) {
    .zmiana {
        background-color: blue;
        height: 100px;
    }
}

@media screen and (max-width:500px) {
    .zmiana {
        background-color: green;
    }
}