body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(26, 25, 25);
    height: 100px;
    width: 100%;
    max-width: 1260px;
    margin: auto;
}

.mobileHeader {
    display: flex;
}

.titleContainer {
    display: flex;
    height: 100px;
}

.logo {
    height: 100px;
}

.companyName {
    color: white;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.hamburger {
    display: none;
}

.menu {
    display: block;
}

.list {
    display: grid;
    grid-auto-flow: column;
    list-style-type: none;
    column-gap: 40px;
}

.link {
    color: white;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
}

.link:hover {
    color: silver;
}

section {
    height: 450px;
    background-image: url("./car-repair-362150_1280.jpg");
    max-width: 1260px;
    margin: auto;
    background-position: top center;
    padding-top: 50px;
}

.card {
    width: 80%;
    margin-left: 10%;
    height: 400px;
    background-color: rgba(180, 180, 180, 0.7);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    text-align: center;
}

.cardContent button {
    background-color: gray;
    border: none;
    border-radius: 12px;
    padding: 12px;
    transition-duration: 0.4s;
}

.cardContent button:hover {
    background-color: lightgrey;
}

.whyUs {
    max-width: 1260px;
    margin: auto;
}

.whyUsTitle {
    text-align: center;
}

.whyUsStrenghts {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-auto-flow: column;
    list-style-type: none;
    justify-content: center;
    column-gap: 60px;
}

.whyUsDesc {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    width: 300px;
    text-align: center;
}

.whyUsImg {
    height: 50px;
    width: 50px;
}

.offerImg {
    width: 270px;
}

@media screen and (min-width: 801px) {
    .menu {
        display: block !important;
    }
}

@media screen and (max-width: 800px) {
    header {
        display: block;
        height: auto;
    }

    .mobileHeader {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .hamburger {
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hamburger button {
        height: 40%;
        font-weight: bold;
    }

    .menu {
        display: none;
    }

    .list {
        display: block;
        height: auto;
    }

    .list-item {
        padding-top: 10px;
    }

    .whyUsStrenghts {
        display: block;
        grid-auto-flow: row;
        list-style-type: none;
    }

    .whyUsDesc {
        margin-left: auto;
        margin-right: auto;
    }
}